* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

body {
    margin: 30px 150px;
}

figure img {
    display: block;
    width: 78%;
    height: 300px;
    position: absolute;
    top: 130px;
}

header {
    text-align: initial                                     ;
}

header img {
    height: 140px;
    text-align: end;
    margin-right: 100px;
    z-index: 5;
    position: absolute;
    top: 540px;
}

h1 {
    text-align: left;
    top: 10px;
    position: relative;
    font-size: 55px;
    left: 10px;
    display: block;
    font-style: italic;
}

nav {
    font-size: 22px;
    display: block;
    width: 80%;
    position: absolute;
    top: 110px;
    text-align-last: end;
}

nav a {
    border: 2px solid black;
    background-color: #3b9ce9;
    padding: 3px 13px;
    box-shadow: 2px 2px 2px black;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    
}

.active {
    background-color: #85a048;
}

aside img {
    display: none;
}

h3 {
    border: 3px solid black;
    left: 135px;
    width: 80%;
    background: #FFFFFF;
    color: #000000;
    text-align: center;
    padding: 10px 0px;
    font-size: 25px;
    position: absolute;
    top: 430px;
}

article {
    display: block;
    left: 400px;
    top: 545px;
    right: 190px;
    position: absolute;
}

.div {
    position: absolute;
    top: 565px;
    left: 360px;
}

main h4, h2 {
    font-weight: bold;
    font-size: 27px;
    font-style: italic;

}

main p {
    font-size: 20px;
    font-weight: 600;
    text-indent: 20px;
    padding: 0px 0px 25px;
    font-family: 'Comic Neue', cursive;

} 

.about-article h2 {
    font-family: 'Comic Neue', cursive;
}

#mail {
    top: 10px;
    position: relative;
}

.hide {
    display: none;
}

/* RULES STYLES */
.rules-container {
    position: absolute;
    top: 565px;
    padding: 0px 320px 100px 0px;
    font-size: 20px;
}

.rules-container h4, h2, p, li, b {
    font-family: 'Roboto';
}

.center {
    text-align: center;
}

#mail {
    top: 10px;
    position: relative;
}

p {
    font-size: 20px;
    text-indent: 20px;
    padding: 0px 0px 25px;
} 

.alphabet li, li::marker {
    list-style-type: lower-latin;
    font-weight: normal;
}

ul li {
    list-style-type: circle;
}


/* GAMES INFO CSS */

.info-container {
    position: absolute;
    top: 565px;
    padding: 0px 320px 100px 0px;
    font-size: 20px;
}

.info-container h2 {        
    font-family: 'Comic Neue';
    text-align: center;
    font-size: 40px;
}

.top {
    font-style: italic;
    font-weight: 600;
}

.underLine {
    text-decoration: underline;
}

table {
    margin: 0px 15px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

table th, td {
    font-family: 'Roboto';
}

.contact-info {
    display: flex;
    justify-content: space-between;
}